.Rproj.user
.Rhistory
.RData
.Ruserdata
data/not used/cfps2010adult_202008.sas7bdat
data/not used/cfps2010child_201906.sas7bdat
data/not used/cfps2011adult_102014.sas7bdat
data/not used/cfps2011child_102014.sas7bdat
data/not used/cfps2012adult_201906.sas7bdat
data/not used/cfps2012child_201906.sas7bdat
data/not used/cfps2014adult_201906.sas7bdat
data/not used/cfps2014child_201906.sas7bdat
data/not used/cfps2016adult_201906.sas7bdat
data/not used/cfps2016child_201906.sas7bdat
data/not used/cfps2020childproxy_202112.sas7bdat
data/not used/cfps2020person_202112.sas7bdat
